<div class="flex flex-col h-full p-4 overflow-auto bg-gray-50 dark:bg-gray-900 bg-contain bg-center bg-no-repeat" style="background-image: url('images/symbol-7248852_1920.png');">
  <h1 class="text-2xl font-bold mb-6 dark:text-white">Dashboard</h1>
  <p-welcome-card class="mb-6"></p-welcome-card>
  <p-goal-focus class="mb-6"></p-goal-focus>
  <p-quantum-activities></p-quantum-activities>
  <p-daily-tasks class="mb-6" (progressChanged)="onProgressChanged($event)"></p-daily-tasks>
  <p-daily-progress-chart class="mb-6"></p-daily-progress-chart>
  <p-daily-motivation class="mb-6"></p-daily-motivation>
</div>
